.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative; /* Set position relative for the parent container */
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.title {
  position: absolute;
  top: 10px; /* Adjust this value to move the title up */
  left: 50%;
  transform: translateX(-50%); /* Center align the title horizontally */
  width: 100%; /* Gives full width to align text in center */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
